$primary: #ecab24;
$danger: #ef4444;
$warning: #f59e0b;
$maintenance: #8b5cf6;
$link-color: #1e64e7;
$border-radius: 0.875rem;
$secondary-text: #575d64;

$highlight: #f5be4f;
$highlight-white: #fff5dc;

$dark-font-color: #c6cbd0;
$dark-font-color2: #0a151e;
$dark-bg: #101e29;
$dark-bg2: #0a151e;
$dark-border-color: #2b3d4b;
$dark-header-bg: #172937;

$font-family-sans-serif: "IBM Plex Sans", "Noto Sans", sans-serif;
$body-bg: #fcfcfc;
$body-color: #0a151e;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;
